.card-small-list{
    padding-bottom: 2em;
}

.card-small{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
    background-color: var(--cardGray);
    padding: 1.7em;
    grid-row-gap: 1em;
    cursor: pointer;
}

.card-small div {
    margin: 0;
}

.card-small-tilte {
    color: var(--cardTitle);
    font-size: 0.9em;
    font-weight: bold;
}

.card-small-social {
    text-align: right;
}

.card-small-number {
    font-size: 2.4em;
    font-weight: bold;
    line-height: 0.9;
}

.card-small-percentage{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 0.8em;
    font-weight: bold;
    color: var(--lime-green);
}

.card-small-percentage-ctn img {
    margin-right: 5px;
}

.percentage.danger {
    color: var(--bright-red);
}

