:root {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: #168ef4;
    --twitter: hsl(203, 89%, 53%);
    --instagram-1: hsl(37, 97%, 70%);
    --instagram-2: hsl(329, 70%, 58%);
    --youTube: hsl(348, 97%, 39%);
  }
  
  .grid {
    display: grid;
    grid-row-gap: 25px;
  }
  
  .wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }

  h2 {
    color: var(--gray);
  }
  
  h3 {
    margin-right: 28px;
    font-weight: normal;
  }

  .percentage.danger {
    color: var(--bright-red);
  }
  
  @media screen and (min-width: 480px) {
    .grid {
      column-gap: 25px;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (min-width: 768px) {
    .grid {
      column-gap: 25px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: 1024px) {
    .grid {
      column-gap: 25px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  .is-dark-mode {
    --gray: #8088ad;
    --cardGray: #252b43;
    --baseBackground: #1d2029;
    --baseColor: white;
    --lightGray: #1d2029;
    --cardTitle: #8088ad;
    --switchSpinner: #282943;
    --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
  }
  
  .is-light-mode {
    --gray: #5f616d;
    --cardGray: #f0f3fa;
    --baseBackground: white;
    --baseColor: #1d2029;
    --lightGray: #f8f9fe;
    --cardTitle: #6f717e;
    --switchSpinner: white;
    --switch: #5f616d;
  }